.bestsCryptos {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.currencySearcher {
    text-align: center;
    margin-bottom: 30px;
}

.currencySearcher input {
    height: 20px;
    margin-top: 10px;
}

.currencySearcher button {
    border: 0px;
    height: 25px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.3s ease-in;

}

.currencySearcher button:hover {
    background-color: #352154;
    color: wheat;
}


.card {
    margin: 0 auto;
    background-color: #352154;
    border-radius: 10px;
    padding: 5px;
    width: calc(33.33% - 20px); 
    margin-bottom: 20px;
}

.card img {
    max-width: 100px;
}

a .varitionColor {
    color: black;
}