.categorie {
    text-align: center;
    margin: 0 auto;
}

.categorie p, .categorie img {
    margin: 0 auto;
}

.categorie img {
    width: auto;
    max-width: 15%;
    padding-right: 40px;
}

.categorie p {
    margin-top: 20px;
    width: 60%;
}

hr {
    width: 60%;
    height: 2px;
    background-color: white;
    border-radius: 10px;
}