.inputSearcher {
    text-align: center;
    margin-bottom: 30px;
}

.inputSearcher input {
    height: 20px;
    margin-top: 10px;
}

.inputSearcher button {
    border: 0px;
    height: 25px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.3s ease-in;

}

.inputSearcher button:hover {
    background-color: #352154;
    color: wheat;
}

.mainResults {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.card {
    margin: 0 auto;
    background-color: #352154;
    max-width: 20rem;
    border-radius: 10px;
    padding: 5px;
}

.card img {
    max-width: 100px;
}

.loader {
    display: none   ;
}